@page
@model CallMe.Pages.Pessoas.DetailsModel
@{
    ViewData["Title"] = "Detalhes do Clientes";
}

<h1>Detalhes do Clientes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.NomeCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.DataCadastro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.PessoaStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.PessoaStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index" class="btn btn-info">Voltar</a>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Pessoa.Id">Ir para Alteração</a>
</div>