@page
@model CallMe.Pages.Pessoas.EditModel
@{
    ViewData["Title"] = "Alteração de Clientes";
}

<h1>Alterar Clientes</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pessoa.Id" />
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Pessoa.Nome)
                <input asp-for="Pessoa.Nome" class="form-control" />
                <span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Pessoa.Sobrenome)
                <input asp-for="Pessoa.Sobrenome" class="form-control" />
                <span asp-validation-for="Pessoa.Sobrenome" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Pessoa.DataCadastro)
                <input asp-for="Pessoa.DataCadastro" class="form-control" />
                <span asp-validation-for="Pessoa.DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Pessoa.PessoaStatus)
                <select asp-for="@Model.StatusNomeSelect" class="form-control">
                    <option value="">Selecione um Status</option>
                </select>
                <span asp-validation-for="Pessoa.PessoaStatus" class="text-danger" />
            </div>
            <div class="form-group mt-2">
                <a asp-page="./Index" class="btn btn-info">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts
    {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }