@page
@model CallMe.Pages.Produtos.IndexModel

@{
    ViewData["Title"] = "Cursos";
}

<h2>Cursos</h2>

<p>
    <a asp-page="Create" class="btn btn-primary">Cadastrar novo Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Produtos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.ID">Alterar</a>
                    <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.ID">Detalhes</a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>